body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 20px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.number-picker {
    align-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    margin: 20px;
}

.number-picker-buttons {
    background-color: #4CAF50;
    border-radius: 50%;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    height: 30px;
    line-height: 1.5rem;
    text-align: center;
    text-decoration: none;
    width: 30px;
}

.number-picker-label {
    outline: none;
    text-align: center;
    width: 80px;
}
